* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Game */
.game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/desk.svg');
    background-size: cover;
}

/* Box */
.game .box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}
.game .box img {
    width: 280px;
    opacity: 1;
    transition-duration: 0.3s;
    transition-property: opacity;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
}
.game .box img.open {
    opacity: 0;
    left: 3px;
}
.game .box.open img.close {
    opacity: 0;
}
.game .box.open img.open {
    opacity: 1;
}

/* Area */
.game .area {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Vase */
.game .area .vase {
    width: 190px;
    height: 190px;
    background-size: contain;
    position: absolute;
    transition-duration: 2s;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game .area .vase.draggable-over {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.2);
}
.game .area .vase.out {
    top: 32%;
}
.game .area .vase img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
}
.game .area .vase .plant {
    width: 170%;
    height: 170%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transition-duration: 1s;
    transform: translate(-50%, -50%) scale(0);
}
.game .area .vase[data-state='empty'] .empty {
    opacity: 1;
}
.game .area .vase[data-state='soiled'] .soiled {
    opacity: 1;
}
.game .area .vase[data-state='seeded'] .seeded {
    opacity: 1;
}
.game .area .vase[data-state='filled'] .filled {
    opacity: 1;
}
.game .area .vase[data-state='wet'] .wet,
.game .area .vase[data-state='green-little'] .wet,
.game .area .vase[data-state='green-medium'] .wet,
.game .area .vase[data-state='green-full'] .wet {
    opacity: 1;
}
.game .area .vase[data-state='green-little'] .plant {
    transform: translate(-50%, -50%) scale(0.2)
}
.game .area .vase[data-state='green-medium'] .plant {
    transform: translate(-50%, -50%) scale(0.5)
}
.game .area .vase[data-state='green-full'] .plant {
    transform: translate(-50%, -50%) scale(0.9)
}


/* Paper */
.game .area .paper {
    background-color: white;
    background-image: linear-gradient(#FFF, #d0d0d0, #F5F5F5);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg) scale(0.7);
    direction: rtl;
    font-family: "IRANSansWeb(FaNum) Medium", 'Arial', 'serif';
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5), 10px 30px 16px -11px rgba(0,0,0,0.23);
    padding: 20px 10px;
    transition-duration: 1s;
}
.game .area .paper.out {
    transform: translateX(-50%) rotate(10deg) scale(0.7);
    bottom: -10px;
}
.game .area .paper.bold {
    transform: translateX(-50%) rotate(0deg) scale(0.95);
}
.game .area .paper h2 {
    text-align: center;
    padding: 10px;
    margin: 0 12px;
    border-bottom: 1px solid #aaa;
}
.game .area .paper ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-right: 35px;
    padding-left: 10px;
}
.game .area .paper ul li {
    position: relative;
    font-size: 14px;
    padding: 5px;
    padding-bottom: 10px;
    transition-duration: 0.5s;
    opacity: 0.3;
}
.game .area .paper ul li:before {
    content: ' ';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 3px solid rgb(133, 133, 133);
    transition-duration: 0.5s;
    border-radius: 4px;
    right: -22px;
    top: 5px;
}
.game .area .paper ul li.active {
    opacity: 1;
}
.game .area .paper ul li.tick {
    text-decoration: line-through;
}
.game .area .paper ul li.tick:before {
    border-color: #8dd819;
    background: #8dd819;
}

/* Soil */
.game .area .soil {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-320px) rotate(-10deg);
}
.game .area .soil img {
    width: 180px;
}


/* Seed */
.game .area .seed {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-240px) rotate(10deg);
}
.game .area .seed img {
    width: 80px;
}

/* Water Glasses */
.glasses {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(130px);
}
.glasses img {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    transition-duration: 0.3s;
    opacity: 0;
}
.glasses img.normal {
    opacity: 1;
}
.glasses.over-droppable img.tilted {
    opacity: 1;
}
.glasses.over-droppable img.normal {
    opacity: 0;
}